.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
  row-gap: 4rem;
  margin-top: -5rem;
  padding-right: 10rem;
  padding-left: 10rem;
}


@media(max-width: 1220px) {
  .main{
    grid-template-columns: 1fr 1fr
  }
}
@media (max-width: 520px){
  .main{
    margin-top:1rem;
    grid-template-columns: 1fr ;
  }
}